[build]
  command = "pnpm build"
  publish = "dist"

[[redirects]]
  from = "/"
  to = "/ja/"
  status = 302
  force = false

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"
